
main#homePage {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;

  section.card {
    box-sizing: border-box;
    margin-top: 80px;
    background-color: white;
    box-shadow: #444 2px 20px 80px;
    border-radius: 8px;
    padding: 30px 90px 30px 90px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    section.skills {
      margin-top: 40px;

      h2{
        font-size: 32px;
        text-transform: uppercase;
      }

      ul{
        margin-top: 32px;
        list-style-type: none;
        margin-left: 0;
        li{
          margin-bottom: 12px;
          h3{
            line-height: 26px;
            font-size: 18px;
          }
        }
      }
    }

    article.profile-image {
      width: 30%;
      picture {
        img {
          width: 100%;
          max-width: 400px;
          height: auto;
          border-radius: 50%;
        }
      }
    }

    article.profile-infos {
      width: 60%;
      section.presentation {
        article.me{
          display: flex;
          justify-content: space-between;
          align-items: center;
          h1 {
            font-size: 54px;
            font-weight: bold;
            flex-grow: 1;
          }

          ul{
            margin-left: auto;
            margin-top: 24px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 20px;

            li{
              justify-content: flex-end;
              display: flex;
              margin-bottom: 8px;
              h3{
                font-size: 14px;
                font-weight: 600;
              }
              p{
                font-size: 16px;
                margin-top: 8px;
              }
            }
          }
        }

        h2 {
          line-height: 42px;
          margin-top: 52px;
          font-size: 32px;
          text-transform: uppercase;
        }

        p{
          margin-top: 24px;
          font-size: 18px;
          line-height: 26px;
        }
      }

      section.experiences, section.educations {
        margin-top: 40px;

        h2{
          line-height: 42px;
          font-size: 32px;
          text-transform: uppercase;
        }

        ul{
          margin-top: 24px;
          list-style-type: none;
          margin-left: 0;
          li{
            font-size: 18px;
            margin-bottom: 32px;
            line-height: 26px;
            h3{
              line-height: 34px;
              font-size: 22px;
            }
            h4{
              margin-top: 8px;
              margin-bottom: 8px;
            }
          }
        }
      }
      section.skills{
        display: none;
      }
    }

    footer{
      margin-top: 100px;
    }
  }

}

.secondary-color {
  color: #30BDBE
}


@media screen and (max-width: 900px){
  main#homePage {

    section.card {
      padding: 20px;
      width: 100%;
      margin-top: 0;
      article.profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        section.skills{
          display: none;
        }
      }

      article.profile-infos {
        margin-top: 40px;
        width: 100% ;
        section.presentation{
          article.me{
            h1{
              font-size: 46px;
            }
            flex-wrap: wrap;
            ul{
              align-items: flex-start;
              margin-left: 0;
            }
          }
          h2{
            margin-top: 24px;
            font-size: 26px;
          }
        }
        section.educations,section.experiences{
          h2{
            font-size: 26px;
          }
          ul li {
            h3 {
              font-size: 20px;
            }

            h4, p {
              font-size: 17px;
            }
          }
        }
        section.skills{
          display: block;
        }
      }
    }
  }
}
